
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #e0e0e0;
  color: #333;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ccc;
}

.button:active {
  background-color: #aaa;
}

form.form input[type="file"]::file-selector-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #e0e0e0;
    color: #333;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .inputfield {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .inputfield:focus {
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 3px dodgerblue;
  }

  .select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
  }
  
  .select:focus {
    outline: none;
    border-color: dodgerblue;
    box-shadow: 0 0 3px dodgerblue;
  }
  
  .select:after {
    content: '\25BC'; /* Unicode character for down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .uploading-data{
    width: 33%;
    float: left;
  }

  .manually-adding-customers {
    width: 66%;
    float: right;

  }


  .main-content {
    margin: 0 auto; /* Center the element horizontally */
    max-width: 1500px; /* Set a maximum width for the content */
    border-left: 1px solid white; /* Add a border to the left side */
    border-right: 1px solid white; /* Add a border to the right side */
    padding: 20px; /* Add some padding to the content */
  }

  .iframe {
    width: 100%;
  }

  nav{
    
    height: 80px;
    width: 100%;
    border-color: white;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
    color: white;
    font-size: 20px;
}

label.logo{
    font-size: 36px;
    line-height: 80px;
    font-weight: bold;
}

body{
    font-family: montserrat;
}

*{
text-decoration: none;
}

.info-icon {
    position: relative;
    display: inline-block;
    margin-left: 5px; 
  }
  
  .info-text {
    position: absolute;
    top: -30px; /* Adjust the distance between the text and the icon */
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 200px; /* Adjust the width of the information text */
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
  }
  
  .info-icon:hover .info-text {
    display: block;
  }
  
  .standard-text {
    display: inline-flex;
    align-items: center;
  }

  .get-started {
    display: inline-block;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .get-started:hover {
    background-color: darkblue;
  }
  
  .get-started::after {
    content: ' >';
    margin-left: 5px;
  }

  .vehicle-selection{
    width: 66%;
    float: right;
  }

  .home-heading{
    font-size: 70px;
    color: blue;
  }

  .home-p{
    margin: 10px 0 30px;
    width: 600px;
    font-size: 24px;
  }

  .main-image {
    float: right;
    height: 600px;
  }

  .content-wrapper {
    float: left;
}

.home-heading-2 {
    font-size: 70px;
    color: blue;
    text-align: left;
}

.home-p-2 {
    margin: 10px 0 30px;
    width: 600px;
    font-size: 24px;
    text-align: left;
}

.main-image-2 {
    float: left;
    height: 600px;
}

.content-wrapper-2 {
    float: right;
}

.outer-wrapper {
    margin-top: 100px;
}

.outer-wrapper-2 {
    position: relative;
    top: 20vh;
}
