<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="icon" type="image/x-icon" href="/static/pictures/tsp_favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">

<body>
    <div class = "header">
        <nav>
            <label class="logo">TSP.ORG</label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/algorithms">Algorithms</a></li>
                <li><a href="/calculator">Calculator</a></li>
                <li><a href="/csv-calculator">CSV Calculator</a></li>
                <li><a href="/click-calculator">Click Calculator</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/sources">Sources</a></li>
            </ul>
        </nav>  
    </div>

    <div class = "main-content-calculator">
        <h2>Calculator</h2>
        <p>On this website we introduce you to the Traveling Salesman Problem, also referred to as TSP</p>
        <h2 class="paragraph-heading">Random Point Calculator</h2>
        <h3>Input values</h3>
        <p>Please type in values.</p>
        <div class="input-values-calculator">
            <h4>Max Iterations</h4>
            <form id="myForm" action="/calculator" method="POST">
            <input type="number" class="form-field" id="max_iter" name="max_iter" value="{{ max_iter }}" required/> 
            <h4>Number of points</h4>
            <input type="number" class="form-field" id="num_points" name="num_points" value="{{ num_points }}" required/> 
            <h4>Population size</h4>
            <input type="number" class="form-field" id="size_pop" name="size_pop" value="{{ size_pop }}" required/> 
            <h4>Probability of Mutation</h4>
            <input type="number" class="form-field" id="prob_mut" name="prob_mut" value="{{ prob_mut }}" required/>
            <input type="submit" value="OK">
            </form>
          </div>

        <div class="plots">
            {% if plot_url_aco %}
            <img id="aco-img" src="{{ url_for('static', filename='pictures/aco.png') }}" alt ="Image cannot be displayed">
            {% endif %}
            {% if plot_url_ga %}
            <img id="aco-img" src="{{ url_for('static', filename='pictures/ga.png') }}" alt ="Image cannot be displayed">
            {% endif %}
            {% if plot_url_sa %}
            <img id="sa-img" src="{{ url_for('static', filename='pictures/sa.png') }}" alt ="Image cannot be displayed">
            {% endif %}
        </div>
        
        <p>Total time taken by the ACO algorithm: {{ total_time_aco }} seconds</p>
        <p>Total time taken by the GA algorithm: {{ total_time_ga }} seconds</p>
        <p>Total time taken by the SA algorithm: {{ total_time_sa }} seconds</p>
        <p>Total lengths of the ACO algorithms tour: {{ best_distance_aco }}</p>
        <p>Total lengths of the GA algorithms tour: {{ best_distance_ga }}</p>
        <p>Total lengths of the SA algorithms tour: {{ best_distance_sa }}</p>

    </div>

 <!-- footer section -->
 <footer>
    <div class="footer-content">
        <div class="footer-block footer-block-1">
            <h2 class="footer-heading">TSP APP</h2>   
            <p class="footer-text">Welcome to the TSP APP. Calculate the shortest route for small-size problems now!</p>
        </div>

        <div class="footer-block footer-block-2"> 
            <h2 class="footer-heading">About</h2>  
            <p class="footer-text">This project has been developed for a master thesis. More information 
                <a class="about-link" href="/about/">
                    <b>here</b>
                </a>.
            </p>
        </div> 

        <div class="footer-block footer-block-3">   
            <h2 class="footer-heading">Contact</h2>
            <p class="footer-text">
                <i class="fa-regular fa-envelope"></i> 
                <a class="about-link" href="mailto:timmy.gerlach@student.unisg.ch?subject=TSP APP Contact Formular&body=Enter your message here">
                    Timmy.gerlach@student.unisg.ch
                </a>
            </p>
            <p class="footer-text">
                <i class="fa-brands fa-github"></i> 
                <a class="about-link" href="https://github.com/VantaBlack9000">
                    VantaBlack9000
                </a>
            </p>
            <p class="footer-text">
                <i class="fa-brands fa-linkedin"></i>
                <a class="about-link" href="https://www.linkedin.com/in/tim-florian-gerlach-193096150/?originalSubdomain=de">
                    Tim-Florian Gerlach
                </a>
            </p>
        </div> 
    </div>
</footer>

</body>
</html>