<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" href="/static/css/style.css">
<body>
    <div class = "header">
            <nav>
                <label class="logo">TSP.ORG</label>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/algorithms">Algorithms</a></li>
                    <li><a href="/calculator">Calculator</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/sources">Sources</a></li>
                </ul>
            </nav>  
    </div>

    <div class = "main-content-calculator">
        <h2>Calculator</h2>
        <p>On this website we introduce you to the Traveling Salesman Problem, also referred to as TSP</p>
        <h2 class="paragraph-heading">Random Point Calculator</h2>
        <h3>Input values</h3>
        <p>Please type in values.</p>
        <div class="input-values-calculator">
            <h4>Max Iterations</h4>
            <form id="myForm" action="/calculator" method="POST">
            <input type="number" class="form-field" id="max_iter" name="max_iter" value="{{ max_iter }}" required/> 
            <h4>Number of points</h4>
            <input type="number" class="form-field" id="num_points" name="num_points" value="{{ num_points }}" required/> 
            <h4>Population size</h4>
            <input type="number" class="form-field" id="size_pop" name="size_pop" value="{{ size_pop }}" required/> 
            <h4>Probability of Mutation</h4>
            <input type="number" class="form-field" id="prob_mut" name="prob_mut" value="{{ prob_mut }}" required/>
            <input type="submit" value="OK">
            </form>
          </div>

        <div class="plots">
            {% if plot_url_aco %}
            <img id="aco-img" src="{{ url_for('static', filename='pictures/aco.png') }}" alt ="Image cannot be displayed">
            {% endif %}
            {% if plot_url_ga %}
            <img id="aco-img" src="{{ url_for('static', filename='pictures/ga.png') }}" alt ="Image cannot be displayed">
            {% endif %}
        </div>
        
        <p>Total time taken by the ACO algorithm: {{ total_time_aco }} seconds</p>
        <p>Total time taken by the GA algorithm: {{ total_time_ga }} seconds</p>
        <p>Total lengths of the ACO algorithms tour: {{ best_distance_aco }}</p>
        <p>Total lengths of the GA algorithms tour: {{ best_distance_ga }}</p>

        <h2 class="paragraph-heading">CSV Map Calculator</h2>
        <div class = "frontend-calculator">
            <div class = "upload-button-csv">
                <button type="button" class="standard-button">Upload CSV</button>
            </div>
        </div>

        <h2 class="paragraph-heading">Clickable Map Calculator</h2>

    </div>

 <!-- footer section -->
 <footer>
    <div class="footer">
        <div class="footer-left-block">
            <h2>About</h2>
            <div class="footer-left-block-content">
                <p>Welcome to TSP.ORG! On this website we introduce you to the Traveling Salesman Problem. Discover multiple algorithms and their functioning now!</p>
            </div>
        </div>
        <div class="footer-middle-block">
            <h2>Navigation</h2>
            <div class="footer-middle-block-content">
                <div class="footer-middle-block-content-navigation">
                    <a href="/">Home</a>
                    <a href="/algorithms">Algorithms</a>
                    <a href="/calculator">Calculator</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                    <a href="/sources">Sources</a>
                    </div>
            </div>
        </div>
        <div class="footer-right-block">
            <h2>Contact</h2>
            <div class="footer-right-block-content">
                <div class="footer-right-block-content-mail">
                    <span class="fas fa-envelope"></span>
                    <span class="text">timmy.gerlach@student.unisg.ch</span>
                </div>
                <div class="footer-right-block-content-phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">+49 162 219 3393</span>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>