<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveling Salesman Problem</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class = "header">
        <nav>
            <label class="logo">TSP.ORG</label>
            <ul>
                <li><a href="/csv-calculator">CSV Calculator</a></li>
                <li><a href="/about">About</a></li>
                <li><a class="get-started" href="/csv-calculator">Get Started</a></li>
            </ul>
        </nav>  
    </div>


    <div class="main-content">
        <div class="outer-wrapper">
            <div class="content-wrapper">
                <h2 class="home-heading">Hello<br> world...</h2>
                <p class="home-p">On this website we introduce you to the Traveling Salesman Problem, also referred to as TSP. 
                <br> <br> Picture the following: You're a salesman. In the morning you wake up and need to visit 15 clients in your area. 
                <br> <br> You need to find the shortest route that visits every client exactly once and savely guides you back home in the evening. 
                <br> <br> <b><a href="#link-test">Find this route now!</a></b></p>
            </div>
        
            <img src="/static/pictures/rocketman_tsp.png" class="main-image">
        </div>

        <div id="link-test" class="outer-wrapper-2">
            <div class="content-wrapper-2">
                <h2 class="home-heading-2">But first<br> an Introduction:</h2>
                <p class="home-p-2">The TSP has left scientists from all kinds of research areas puzzled for decades.  
                <br> <br> Even though the problem's formulation appears to be relatively straight forward,
                 it comes with a very high complexity. 
                <br> <br> The TSP is considered NP-Hard, referring to its nature of being non-solvable within polinomial time for a high number of places to be visited. 
                <br> <br> <b>Find this route know!</b></p>
            </div>
            
            <img src="/static/pictures/thinking_tsp.png" class="main-image-2">
        </div>    

    </div>

<!-- footer section -->

</body>
</html>