<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveling Salesman Problem</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class = "header">
        <nav>
            <label class="logo">TSP.ORG</label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/algorithms">Algorithms</a></li>
                <li><a href="/calculator">Calculator</a></li>
                <li><a href="/csv-calculator">CSV Calculator</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/sources">Sources</a></li>
            </ul>
        </nav>  
    </div>

    <div class = "main-content-home">
        <div class="text-container-home">
            <h2>Hello world...</h2>
            <p>On this website we introduce you to the Traveling Salesman Problem, also referred to as TSP</p>
        </div>
    </div>

<!-- footer section -->
    <footer>
        <div class="footer">
            <div class="footer-left-block">
                <h2>About</h2>
                <div class="footer-left-block-content">
                    <p>Welcome to TSP.ORG! On this website we introduce you to the Traveling Salesman Problem. Discover multiple algorithms and their functioning now!</p>
                </div>
            </div>
            <div class="footer-middle-block">
                <h2>Navigation</h2>
                <div class="footer-middle-block-content">
                    <div class="footer-middle-block-content-navigation">
                        <a href="/">Home</a>
                        <a href="/algorithms">Algorithms</a>
                        <a href="/calculator">Calculator</a>
                        <a href="/about">About</a>
                        <a href="/contact">Contact</a>
                        <a href="/sources">Sources</a>
                        </div>
                </div>
            </div>
            <div class="footer-right-block">
                <h2>Contact</h2>
                <div class="footer-right-block-content">
                    <div class="footer-right-block-content-mail">
                        <span class="fas fa-envelope"></span>
                        <span class="text">timmy.gerlach@student.unisg.ch</span>
                    </div>
                    <div class="footer-right-block-content-phone">
                        <span class="fas fa-phone-alt"></span>
                        <span class="text">+49 162 219 3393</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>